Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -modernize-use-trailing-return-type,
  -fuchsia-trailing-return,
  -fuchsia-default-arguments-calls
WarningsAsErrors: ''
HeaderFilterRegex: '.*'