Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -llvm-header-guard,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -modernize-use-trailing-return-type,
  -fuchsia-trailing-return,
  -fuchsia-default-arguments-calls,
  -cppcoreguidelines-pro-type-member-init
  -hicpp-member-init
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
